    .login {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: var(--Background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loginError {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: var(--Error);
        font-size: 25px;

        @media screen and (max-width: 820px){
            font-size: 20px;
        }
    }
    .loginBody {
        width: 70%;
        height: 70%;
        border: 18px solid var(--Elements);
        border-radius: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @media screen and (max-width: 1065px){
            width: 60%;
            height: 60%;
            border: 15px solid var(--Elements);
        }
        @media screen and (max-width: 820px){
            height: 80%;
            flex-direction: column;
        }
        @media screen and (max-width: 600px){
            width: 80%;
            border: 10px solid var(--Elements);
            border-radius: 100px;
        }

        .loginBodyTitle {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 820px){
                height: 30%;
            }

            h1 {
                color: var(--Elements);
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                letter-spacing: 5px;
                font-size: 40px;

                @media screen and (max-width: 1065px){
                    letter-spacing: 3px;
                    font-size: 30px;    
                }
            }
        }
        .loginBodyFields {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 820px){
                height: 120%;
                justify-content: start;
            }
            h2 {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 35px;
                color: var(--SecondaryEl);
                letter-spacing: 3px;

                @media screen and (max-width: 1065px){
                    letter-spacing: 2px;
                    font-size: 30px;    
                }
            } 
            form {
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;

                @media screen and (max-width: 820px) {
                    height: 44vh;
                }
                .inputDiv {
                    width: 350px;
                    height: 80px;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: flex-end;

                    @media screen and (max-width: 1065px){
                        width: 220px;
                        height: 60px;   
                    }
                    @media screen and (max-width: 820px) {
                        width: 350px;
                        height: 80px;
                        align-items: center;
                    }
                    .errorMessage {
                        margin-bottom: 0;
                        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        color: var(--Error);
                        font-size: 12px;

                        @media screen and (max-width: 1065px){
                            font-size: 10px;
                        }
                        @media screen and (max-width: 820px) {
                            width: 220px;
                            font-size: 12px;
                        }
                    }
                    input {
                        width: 300px;
                        height: 25px;
                        margin-bottom: 0;
                        border-radius: 8px;
                        border: none;
                        padding: 10px 10px 10px 20px;
                        font-size: 20px;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        color: var(--Elements);
        
                        @media screen and (max-width: 1065px){
                            width: 200px;
                            height: 15px;  
                            font-size: 15px;
                        }
                    }
                    input:-webkit-autofill {
                        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
                        -webkit-text-fill-color: var(--Elements) !important;
                        color: var(--Elements) !important;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
                        font-size: 20px !important;
                        padding: 10px 10px 10px 20px !important;
                        border-radius: 8px !important;
                        transition: background-color 5000s ease-in-out 0s;
                    }   
                }
            }
            .loginBodyButton {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    width: 200px;
                    height: 35px;
                    border-radius: 15px;
                    border: none;
                    background-color: var(--SecondaryEl);
                    color: white;
                    cursor: pointer;
                    margin-top: 15px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 15px;
                    letter-spacing: 2px;
                    @media screen and (max-width: 1065px){
                        width: 150px;
                        height: 28px;  
                        font-size: 13px;
                    }
                    @media screen and (max-width: 820px){
                        margin-top: 30px;
                    }
                    @media screen and (max-width: 360px){
                        width: 170px;
                        height: 30px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .loginBackToLogin {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        p {
            color: var(--Elements);

            @media screen and (max-width: 600px){
                font-size: 15px;
            }
            @media screen and (max-width: 360px){
                font-size: 13px;
            }
        }
        .loginBackToLoginLink {
            text-decoration: none;
            color: var(--SecondaryEl);

            @media screen and (max-width: 600px){
                font-size: 15px;
            }
            @media screen and (max-width: 360px){
                font-size: 13px;
            }
        }
    }
}